{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block style %}
python
body
{
background-color:khaki;
}

{% endblock style %}
{% block home_active %} active {% endblock home_active %}

<!--====================================================body block=============================================-->
{% block body %}
<div class="container">
<div>
    <h1 class="display-4 my-2">Welcome to iCoder</h1>
    <p class="lead">this is a educational BlogSite here you can learn all programming languages with best experience</p>
    <hr class="my-4">
    <a class="btn btn-success btn-lg" href="/blog" role="button">Go To Blog</a>
</div>
</div>

<div class="container my-2" >
    <h3>Popular Blog Post</h3>
   <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured Post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
</div>

{% endblock body %}