{% extends 'base.html' %}
{% block style %}
.display-4
{
background-color:yellow;
}
body
{
background-color:khaki;
}

{% endblock style %}

{% block title %} Search Result {% endblock title %}
{% block my_blog_active %} active {% endblock my_blog_active %}

<!--====================================block body========================================-->
{% block body %}
<div class="container my-2" >
    <h3>Search Results</h3>

    {% if allPost|length < 1 %}
    <ol>
        <li>No search result</li>
        <li>Your search query-{{query}}-did not not match any documents.</li>
        <li>Suggestions:</li>
        <ul>
            <li>Try different keyword</li>
            <li>Too large query</li>
            <li>413. That’s an error.Your client issued a request that was too large. That’s all we know</li>
        </ul>
    </ol>
    {% endif %}

    {% for post in allPost %}
   <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{post.author}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">{{post.datetime}}</div>
          <p class="card-text mb-auto">{{post.content| truncatechars:400}}</p>
          <a href="/blog/{{post.slug}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock body %}